* {
    margin: 0 0 0 0;
}
.main-color {
    background-color: #c1cfda;
    image-
    color: black;
}

.secondary-color {
    background-color: #20a4f3;
    color: black;
}

.XYcoordinate{
    width: 40px;
}

.xycoordinate {
    width: 1275px;
    height:50px;
    margin-left: 615px;
}

#sideBar {
    width: 20%;
}

#gameContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.centered {
    text-align: center;
    width: auto;
    margin: 0 auto;
}

#flexContainer {
    display: flex;
    margin: 2.5% auto;
}

.game-grid {
    width: 450px;
    border: 2px solid black;
    margin: 0px;
}

.game-grid td {
    border: 0px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #71bae7;
    color: black;
}

